%p Welcome to RickRoll.tv, the bait and switch URL shortening service
- if flash[:notice]
  #notice
    = flash[:notice]
- form_for :roll, :url => { :action => :create } do |form|
  = error_messages_for :roll
  .destination
    %span Enter the url you wish to shorten here (e.g., http://www.example.com/)
    = form.text_field :destination_url
  .rolling
    %span you can make the shortened url sometimes roll to a different page
    .classic
      like the
      = radio_button_tag 'which_roll', 'classic', true
      %label Classic Rick Roll
      = link_to Roll::RICK_ROLL_URL
    .custom
      or a site of
      = radio_button_tag 'which_roll', 'custom'
      %label Your Choice
      =form.text_field :roll_url
  .when-to-roll
    %strong When do you want the url to turn into a roll? You can use any or all of these options
    .hits 
      %span You can make the shortened url permanently turn into a roll after
      =form.text_field :hits_until_expired, {:size => 4}
      hits
    .date-expiry
      check this box
      = check_box_tag 'use_expiry_date'
      %span to permanently turn the url into a roll in
      = expire_date_num_select
      = expire_date_period_select
      %span from now
    .probability
      %span or you can make it roll
      =form.text_field :probability, { :size => 4 }
      \% of the time

  = submit_tag
