= javascript_include_tag :defaults

%h1
  Roll'd!
%div
  Here is your shortened url
  %br{:clear=>'left'}
  %input#url_preview{:class=>'url_preview',:value => @roll.snip_url}
  %a.clipboard{:href=>'javascript:void(0)',:onclick=>'copy($("url_preview"))',:title=>'Copy to clipboard.'}
    Copy to clipboard
  .note
    (Good for chat, emails, etc)
  %br{:clear=>'left'}
  %input#url_preview_html{:class=>'url_preview',:value => '<a href="'+@roll.snip_url+'">'+@roll.snip_url+'</a>'}
  %a.clipboard{:href=>'javascript:void(0)',:onclick=>'copy($("url_preview_html"))',:title=>'Copy to clipboard.'}
    Copy to clipboard
  .note
    (HTML)
  %br{:clear=>'left'}
  %input#url_preview_bbcode{:class=>'url_preview',:value => '[url='+@roll.snip_url+']'+@roll.snip_url+'[/url]'}
  %a.clipboard{:href=>'javascript:void(0)',:onclick=>'copy($("url_preview_bbcode"))',:title=>'Copy to clipboard.'}
    Copy to clipboard
  .note
    (BB Code, good for bulletin boards)
.destination
  the destination is
  = link_to @roll.destination_url, @roll.destination_url
- if @roll.expired?
  but this url is expired and all visitors will be redirected to
  = link_to @roll.roll_url, @roll.roll_url
- else
  but
  .roll-options
    - unless @roll.probability.nil?
      =@roll.probability
      \% of the time it will redirect the visitor to
      = link_to @roll.roll_url, @roll.roll_url
  -if @roll.expires_at || @roll.hits_until_expired
    .permanent
      the shortened url will permanent redirect to 
      = link_to @roll.roll_url, @roll.roll_url
      - if @roll.expires_at
        on
        = @roll.expires_at
        - puts "or" if @roll.hits_until_expired
      - if @roll.hits_until_expired
        after
        = @roll.hits_until_expired
        more hits
